# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Outputs (generated)
outputs/

# OS/Editor
.DS_Store
.vscode/
# Anaconda Navigator junk
anaconda_projects/
*.db

# Random notebooks at root (optional)
Untitled*.ipynb
